.movie-card{
    object-fit: contain;
    
}
.movie-details-link{
    width: 100px;
    height: 100px;
    object-fit:contain;
    border: 3px solid red;

}
/* .cardImg{
    border: 2px solid green;
    width: 200px;
    height: 200px;
} */