
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 margin-top: 10px;
}


.search {
  width: 250px;
  height: 30px;
  background-color: rgb(60, 56, 56);
}
.content-searh{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 button {
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  width:35px;
  height: 35px;
  line-height: 40px;  /* Centrer le texte verticalement */

}


