.headerContainer {
    background-color: rgb(120, 94, 6);
    display: block;
    justify-content:center;
    /* align-items: center; */
   text-align: center;
    width: auto;
    height: 200px;
    /* border: 2px solid green; */
  }
  
  .headerContainer img{
    width: 70px;
    height: auto;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    /* padding: 45px 0; */
    text-transform: uppercase;
    color: inherit; /* Pour conserver la couleur par défaut du texte du lien */
    cursor: default;
    font-size: 30px;
    color: white;
  }

  .content-searh{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
 
  
  